/*general*/
body {
    padding: 0;
    margin: 0;
}
html, body, #mapa {
    height: 100%;
    width: 100vw;
}
ul{
    list-style: none;
}
a, button {
    cursor: pointer;
}
.hidden {
    visibility: hidden;
}
*{
    font-family: 'Quicksand', sans-serif;
}
/*sidebar*/
.leaflet-sidebar-header {
    font-family: 'Overlock', cursive;
    font-size: 16px;
    text-align: center;
}
.btn-invisible {
    display: none;
}
/*pestanas de informacion*/
.titleCategories {
    background-color: #91bfed;
}
.info-img {
    width: auto;
    height: 120px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.info-nombre {
    text-align: center;
    border-bottom: 1px solid #CCD1D1;
    border-top: 1px solid #CCD1D1;
    font-family: 'Overlock', cursive;
    font-size: 16px;
}
.info-descripcion {
    min-height: 40px;
}
.div-info-contact {
    height: 90px;
}
.ul-info-contact {
    list-style: none;
    display: flex;
    padding-left: 0;
}
.li-info-contact .li-contact {
    text-decoration: none !important;
    color: #383838;
    font-size: 26px;
    margin-right: 20px;
}
.li-info-contact #info-local-web {
    font-size: 24px;
}
.info-sug-btn-local, .info-sug-btn-delivery,
.info-local-direction-btn,
.btn-submit-sug-nuevo-local, .btn-submit-sug-nuevo-delivery,
.btn-reset-form-sug-local, .btn-reset-form-sug-delivery,
.btn-sidebar-close, .btn-form-sug-edicion {
    width: 90%;
    margin: 5px;
}
#title-info-horario, #title-info-contact,#title-info-telefono, #title-info-direccion {
    border-bottom: 1px solid #CCD1D1;
}
.td-horario-lunes-top {
    width: 65px;
}
#info-delivery-facebook, #info-local-facebook {
    color: #3b5998;
}
#info-delivery-instagram, #info-local-instagram {
    color: #bc2a8d;
}
#info-delivery-whatsapp, #info-local-whatsapp {
    color: #25d366;
}
#info-delivery-web, #info-local-web {
    color: #383838;
}
.displayNone{
    display: none;
}
/*ventana emergente sug nuevo local*/
.ventanaNewLocales {
    padding: 6px 8px;
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.ventanaEmergentePrincipalContent p {
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}
.ventanaEmergentePrincipalContent h4 {
    margin-top: 12px;
    margin-bottom: 0;
    padding: 0;
    color: #333;
}

/*ventana remesas*/
.tab-remesas-window p,
.tab-eventos-window p {
    width: 90%;
    text-align: center;
    margin-top: 50px;
}
.tab-form-sug-nuevo-window p {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}
/*about us*/
#tablist-about-us-btn {
    background-image: url('../images/logo-busca-tu-arepa.svg');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
}
#tab-about-us-logo-principal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#about-us-texto {
    text-align: justify;
    margin: 0 auto;
    width: 90%;
    max-width: 320px;
    padding: 1em;
}
#title-about-us-contact {
    border-bottom: 1px solid #CCD1D1;
    width: 90%;
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
}
#mailto {
    text-align: center;
    margin: 20px;
}
#mailto-link {
    text-decoration: none;
    color: #383838;
}
/*botones compartir about us*/
#share-about-us {
	width: 100%;
  	margin: 5px auto;
    text-align: center;  
}
#share-about-us a {
	width: 30px;
  	height: 30px;
  	display: inline-block;
  	margin: 5px;
  	border-radius: 50%;
  	font-size: 24px;
  	color: #fff;
	opacity: 0.75;
	transition: opacity 0.15s linear;
}
#share-about-us a:hover {
	opacity: 1;
}
#share-about-us i {
  	position: relative;
  	top: 5%;
      transform: translateY(-50%);
      font-size: 15px;
}
#ig-share-btn {
    background: #bc2a8d;    
}
#fb-share-btn {
 	background: #3b5998;
}
#tw-share-btn {
  	background: #55acee;
}
#wp-share-btn {
    background-color: #25d366;
}
#tg-share-btn {
    background-color: #0088cc;
}
/*Formularios*/
form, .form-sug-nuevo-home {
    font-size: 11px;
}
#form-sug-nuevo-delivery,
#form-sug-nuevo-local,
.form-sug-nuevo-home {
    margin: 0 auto;
    width: 90%;
    padding: 1em;
}
#form-sug-edicion div + div,
#form-sug-nuevo-delivery div + div,
#form-sug-nuevo-local div + div,
.buttonFormSug {
    margin-top: 1em;
}
#msj-after-form-sug-edicion p,
#msj-after-form-sug-nuevo-local p,
#msj-after-form-sug-nuevo-delivery p,
#form-sug-nuevo-delivery-div p,
#form-sug-nuevo-local-div p {
    text-align: center;
}
input, select, textarea {
    display: block;
    width: 90%;
    border: 1px solid #999;
}
textarea {
    vertical-align: top;
    height: 5em;
}
#recaptcha1,
#recaptcha2,
#recaptcha3 {
    transform:scale(0.73);
    transform-origin:0 0;
}
.msj-google-politicas {
    width: 90%;
    text-align: center;
    font-size: 10px;
    margin-top: 0;
    padding-top: 0;
}
/*podcast y search*/
.podcast-ul, .search-ul {
    margin: 5px;
    padding: 5px;
}
.podcast-li, .search-li {
    margin-top: 10px;
    list-style-type: none;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 6px;
}
.podcast-table, .search-table {
    width: 100%;
}
.td-podcast-info-img, .td-search-info-img {
    width: 70px;
}
.podcast-info-img, .search-info-img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
}
.podcast-info-div, .search-info-div {
    line-height: 1.2;
}
.podcast-nombre, .search-nombre {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
}
.podcast-descrip {
    margin-top: 0;
    margin-left: 5px;
}
.search-descrip {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 5px;
}
.search-tipo, .search-direccion {
    margin-top: 0;
    margin-left: 5px;
}
.podcast-contact-div {
    margin-left: 7px;
    margin-top: 0;
}
.podcast-info-contact {
    font-size: 20px;
    margin-right: 6px;
}
.podcast-info-contact i, .search-li a {
    text-decoration: none !important;
    color: #383838;
}
/*Solo search box*/
.searchBox {
    width: 100%;
    padding: 6px 8px;
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
}
#search-div {
    float: right;
}
.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 6px;
	font-size: 14px;
	height: 12px;
	line-height: 20px;
	outline: medium none;
    padding: 6px 12px;
    width: 100%;
}
.typeahead {
	background-color: #FFFFFF;*}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 10px;
	padding: 1px 0;
	width: 200px;
}
.tt-suggestion {
	font-size: 14px;
	padding: 3px 10px;
}
.tt-suggestion:hover {
	cursor: pointer;
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}