* {
    font-family: 'Quicksand', sans-serif;
    font-size: 11px;
}
html, body {
    margin: 0;
    padding: 0;
}
.div-tyc {
    width: 500px;
    max-width: 80%;
    margin: 20px auto;
    text-align: justify;
}
#logo-principal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}